
main {
  padding: 1vh 1vw;
  position: relative; // 親要素に相対的な位置指定


  .setting {
    position: absolute; // 絶対位置指定
    top: 0;   // 親要素の上端からの距離
    right: 0; // 親要素の右端からの距離

    $size: 1rem;
    width: $size;
    height: $size;
    // 必要に応じて他のスタイルを追加
    // background-color: red;
  }
}
